<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name> Sarobidy HAHAHAHA  </display-name>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu2032.framework.servlet.FrontServlet</servlet-class>
        <init-param>
            <param-name>packages</param-name>
            <param-value>etu2032.packages</param-value>
        </init-param>
        <init-param>
            <param-name>sessionName</param-name>
            <param-value>isConnected</param-value>
        </init-param>
        <init-param>
            <param-name>sessionProfile</param-name>
            <param-value>profil</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
